[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-admin-thumbnails = "*"
whitenoise = "*"
django-jazzmin = "*"
gunicorn = "*"
django-ckeditor = "==6.6.1"
django-ckeditor-5 = "*"
boto3 = "*"
django-storages = "*"
psycopg2 = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.12"
